.border_news{
    display:grid;
    padding:0.5em  5em ;
    box-shadow:none;
    /* text-align:justify; */
   /*  place-content:center; */
}
.card_news{
    height:30em;
    width:30em;
    
}
.cardNewsContent{
    overflow:scroll;
    width:auto;
    height:100lvh;
    scroll-snap-type:x mandatory;
    overflow-y:hidden;
    
}

.card_news {
    left:0;
    object-fit:cover;
    scroll-snap-align:center;
    align-self:center;
    margin:0 2em;
}

.card_news  img{
    object-fit:cover;
    width:100%;
}

button{
    display:none;
}

@media(width > 750px){
    
    section .circuloButton{
        display:grid;
        place-items:center;
    }
    button{
        display:block;
    }
}