.cardNewsContent{
    padding: 1.5em 0;
    width: 100%;
    overflow-x: scroll;
    justify-content: start;
    gap: 1em;
    scroll-behavior:smooth;
}

.border{
    box-shadow:none;
}

.blue-wrapper_right{
    display:none;
}

.cardNewsContent .card_news .border_news{
    padding: 1em;
    min-width: 17em; /* Ancho mínimo de cada elemento */
}
.cardNewsContent .card_news .border_news h3{
    padding: 1.3em  0 0.5em 0;
}
.cardNewsContent .card_news p{
   /*  font-size:clamp(0.8rem, 2vw, 1.3rem); */
    padding: 0 0 1em 0;
}
.cardNewsContent .card_news picture img{
    height: auto;
    width:100lvw;
}

.circleButton{
    display:none;
}


@media(width >= 750px){
    
    /* h2{
        grid-column:1/3;
    }

    #new_relevant{

     
        display:grid;
        grid-template-columns:repeat(2, 40% 10%);
       
        gap:1rem;
       
    }

   
    #new_relevant-card{
        padding:2rem;
        grid-column:1/2;
        grid-row:2/3;

    }
    #new_relevant-img{
      
        grid-column:2/3;
        grid-row:2/3;
    } */


.cardNewsContent{
    /* width:inherit;
    height:inherit; */
}
  
.cardNewsContent_border{
  /*  margin:0 0 20em 0; */
  border: 0.5rem var(--electric-blue-color) solid;
    width:50rem;
    height:20rem;
  border-bottom:0;
  border-right:30rem;
  padding:4em;
}

    

}

