form{
    flex-direction: column;
    height: 36.938em;
    width:100%;
    gap:2em; 
}

form input{
    height:4em;
    width:100%;
    background-color: #010206;
    padding:1em;
}
form input::placeholder{
     font-family: "Rubik", sans-serif;
     font-size:small;
     color:var(--sliver-text-color);
}
form button {
    align-self:center;
    
}


form textarea {
    background-color: #010206;
    padding:1em;
    height:19em;
}

form textarea::placeholder{
    font-family: "Rubik", sans-serif;
     font-size:small;
     color:var(--sliver-text-color);
}

label{
    display:none;
}


@media(width >= 750px) {
    form input{
        height:6em;
    }

    form input::placeholder{
     font-family: "Rubik", sans-serif;
     font-size:large;
     color:var(--sliver-text-color);
    }

    form textarea::placeholder{
        font-family: "Rubik", sans-serif;
        font-size:large;
        color:var(--sliver-text-color);
        }

}

@media(width >= 1200px){
   
    form textarea{
    height:27em;
   }
   
    form button{
        align-self:start;
    }
}