h1{
    text-align: left;
    justify-self: left;
}
.arrow{
    background: transparent;
    border: none;
}
.arrow img{
    width: 2.4em;
    height: auto;
}
#contentNumber{
    gap: 1em;
}
#contentBotton{
    flex-direction: row;
    justify-content: space-between;
}
#formContent{
    justify-self: stretch;
}
#contentBotton img{
    width: 3.4em;
    object-fit: cover;
}
@media(width >= 750px){
    header .line .cardContent{
        height: 100%;
    }
    header .card {
        grid-template-columns: repeat(2, 40% 60%);
    }
   header .cardContent{
    grid-template-rows: 19% 39% 63%;
   }
   .lineNo{
    border: none;
    box-shadow: none;
   }
}
@media(width >= 1200px){
    header .card {
        grid-template-columns: repeat(2, 30% 70%);
    }
}