h1{
    text-align: left;
    justify-self: left;
}
.arrow{
    background: transparent;
    border: none;
}
.arrow img{
    width: 2.4em;
    height: auto;
}
#filterButton{
    display: none;
}
#contentNumber{
    gap: 1em;
}
#contentBotton{
    grid-template-columns: 50% 50%;
    position: relative;
  
}
#formContent{
    justify-self: stretch;
    
}
#filter-container{
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #0F172A;
    padding: 3em;
    justify-items: center;
    gap: 1em;
      position: absolute;
    right: -170%;
    top: 0;
    width: 100%;
    transition-duration: .25s;
    backdrop-filter: blur(10px);
    align-items: end;
    z-index: 2;
}
#filterButton:checked ~ #filter-container{
    right: 0;
}
#filter-container select{
    padding: 1em;
    width: 100%;
    background-color: transparent;
    border: 3px solid #1E90FF;
}
#filter-container select option{
    background-color: #0F172A;
}
#contentBotton label{
    justify-self: end;
}
#contentBotton label img{
    width: 3.4em;
    object-fit: cover;
}
#searchContent{
    width: 100%;
    padding: 1em;
    margin: 1em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #1E90FF;
}
#searchContent img{
    width: 2em;
}
#search{
    border: none;
    background-color: transparent;
    color: #ffff;
    font-size: 1em;
}
@media(width >= 750px){
    header .line .cardContent{
        height: 100%;
    }
    header .card {
        grid-template-columns: repeat(2, 40% 60%);
    }
   header .cardContent{
    grid-template-rows: 19% 39% 63%;
   }
   .lineNo{
    border: none;
    box-shadow: none;
   }
}
@media(width >= 1200px){
    header .card {
        grid-template-columns: repeat(2, 30% 70%);
    }
}