
html, body{
    overflow-x: hidden;
}


*:root{
    --electric-blue-color:#1E90FF;
    --sliver-text-color:#F1F5F9;
}

.text, .title{
    color: var(--sliver-text-color);
}


.text{
    font-family: "Rubik", sans-serif;
    line-height: 1.8;
}
.title{
     font-family: "Orbitron", sans-serif;
     font-weight:500;
     line-height:1.8;
     font-size:1.5em;
}
.flip-horizontal{
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}
.border{
     border: 1px solid var(--electric-blue-color);
}
.border{
    box-shadow: 0px 1px 9px 0px rgba(80,165,249,0.75);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#010206;
    padding:1em;
    margin:0;
}

header{
    height: 150lvw;
    grid-template-rows: repeat(4 , 1fr);
    gap: 1em;
    position: relative;
    overflow: hidden;
}

.grid{
    display:grid;
}

.button{

    border: none;
    width: 10em;
    height: 3.3em;
    font-size: 1em;
    clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
    background-color: var(--electric-blue-color);
}
.button, .button div{
    align-items: center;
    justify-content: center;
}
.button div{
    background-color: #010206;
    clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
    width: 97%;
    height: 90%;
    color: var(--sliver-text-color);
    font-weight: 600;
}

.flex{
    display:flex;
    flex-direction: row;
}
#nav{
    justify-content: space-between;
    position: relative;
    
}

input{
    display:none;
}
#burgerMenu{
    flex-direction:column;
    gap:0.5em;
    z-index: 3;
}

#burgerMenu div{
    background-color:var(--electric-blue-color);
    width: 3.314rem;
    height: 0.408rem;
    transition: all .5s;
    transform-origin:left;
}
#nav-responsive{
    position: absolute;
    right: -150%;
    top: 0;
    width: 100%;
    transition-duration: .25s;
    z-index: 1;
    background-color: #020b2e90;
    backdrop-filter: blur(10px);
    align-items: end;
    justify-content: center;
    z-index: 2;
}
#nav-responsive ul{
    flex-direction: column;
    padding: 4em 0;
    gap: 1em;
}
#nav-responsive ul li{
    list-style: none;
    text-align: center;
}
li a{
   text-decoration:none;
    font-size: 1.5rem;
}

 #responsiveMenu:checked ~ #nav-responsive{
    right: 0;
} 



#responsiveMenu:checked ~ #burgerMenu{
    #bar{
        transform:rotate(31deg);
    } 
    #bar1{
        opacity:0;
    } 
    #bar2{
        transform:rotate(-35deg);
    }
}   

h1{
    text-align: center;
    grid-row:3/4;
    z-index: 1;
}
h1, header .button, .logo{
    z-index: 1;
}
header .button{
    justify-self: center;
    grid-row:4/5;
    align-self: center;

}

#myCanvas{
    position:absolute;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
}


section{
    padding: 4em 0;
}
#episodes{
    gap: 2em;
    justify-items: center;
}
.card{
    gap: 1.5em;
}
.card img{
    width: 100%;
    height: 59lvw;
    object-fit: cover;
}
.cardContent{
    padding: 1em;
}
.circleButton{
    background-color: transparent;
    border-radius: 100%;
    padding: 0.5em;
    justify-self: end;
    align-self: center;
}
.circleButton img{
    width: 2em;
    height: auto;
}#aboutUs{
    gap: 1em;
}
#comments .flex{
    padding: 1.5em 0;
    width: 100%;
    overflow-x: scroll;
    justify-content: start;
    gap: 1em;
}
#cardContentComments .card{
    padding: 1em;
    min-width: 20em; /* Ancho mínimo de cada elemento */
}
#cardContentComments .card h3{
    padding: 1.3em  0 0.5em 0;
}
#cardContentComments .card p{
    font-size: 0.8rem;
    padding: 0 0 1em 0;
    line-height: 2.3;
}