
html, body{
    overflow-x: hidden;
}


*:root{
    --electric-blue-color:#1E90FF;
    --sliver-text-color:#F1F5F9;
}

.text, .title{
    color: var(--sliver-text-color);
}


.text{
    font-family: "Rubik", sans-serif;
}
.title{
     font-family: "Orbitron", sans-serif;
     font-weight:500;
     line-height:1.8;
     font-size:1.5em;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#010206;
    padding:1em;
    margin:0;
}

header{
    height: 150lvw;
    grid-template-rows: repeat(4 , 1fr);
    gap: 1em;
    position: relative;
}

.grid{
    display:grid;
}

.button{
    background-color: transparent;
    border: none;
    color: var(--sliver-text-color);
    padding: 1em 3em;
    font-size: 1em;
    clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
    background-color: var(--electric-blue-color);
    color: #010206;
    font-weight: 600;
}

.flex{
    display:flex;
    flex-direction: row;
}
#nav{
    justify-content: space-between;
    position: relative;
    
}

input{
    display:none;
}
#burgerMenu{
    flex-direction:column;
    gap:0.5em;
    z-index: 3;
}

#burgerMenu div{
    background-color:var(--electric-blue-color);
    width: 3.314rem;
    height: 0.408rem;
    transition: all .5s;
    transform-origin:left;
}
#nav-responsive{
    position: absolute;
    right: -150%;
    top: 0;
    width: 100%;
    transition-duration: .25s;
    z-index: 1;
    background-color: #020b2e90;
    backdrop-filter: blur(10px);
    align-items: end;
    justify-content: center;
    z-index: 2;
}
#nav-responsive ul{
    flex-direction: column;
    padding: 4em 0;
    gap: 1em;
}
#nav-responsive ul li{
    list-style: none;
    text-align: center;
}
li a{
   text-decoration:none;
    font-size: 1.5rem;
}

 #responsiveMenu:checked ~ #nav-responsive{
    right: 0;
} 



#responsiveMenu:checked ~ #burgerMenu{
    #bar{
        transform:rotate(31deg);
    } 
    #bar1{
        opacity:0;
    } 
    #bar2{
        transform:rotate(-35deg);
    }
}   

h1{
    text-align: center;
    grid-row:3/4;
    z-index: 1;
}
h1, header .button, .logo{
    z-index: 1;
}
header .button{
    justify-self: center;
    grid-row:4/5;
    align-self: center;

}

#myCanvas{
    position:absolute;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
}

